* {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: Playfair Display;
  font-weight: 600;
  color: #FFFFFF;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 150%;
  color: #FFFFFF;
}

hr {
  height: 1px;
  border: 0;
  background-color: #FFFFFF;
}

.small-text {
  font-size: 14px;
}

.big-text {
  font-size: 16px;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.welcome {
  height: 900px;
  background: url(img/bottles.jpg);
  background-repeat: no-repeat;
}

.welcome__flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  padding-bottom: 150px;
}

.welcome__buttons {
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  background-color: #998431;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.quote {
  background-color: #282828;
  padding: 100px 0;
}

.quote__box {
  border: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote__header {
  max-width: 736px;
  text-align: center;
  display: inline-block;
  padding: 60px 0 40px 0;
  font-size: 36px;
}

.quote__text {
  max-width: 733px;
  text-align: center;
  padding: 40px 0 50px 0;
  font-size: 16px;
  line-height: 24px;
}

.quote__img {
  padding-bottom: 60px;
}

.news {
  background-color: #E6E3C4;
}

.news__box {
  padding: 80px 0;
}

.news__line-top {
  margin-bottom: 60px;
  height: 1px;
  border: 0;
  background-color: #998431;
}

.news__line-bottom {
  margin-top: 60px;
  height: 1px;
  border: 0;
  background-color: #998431;
}

.news__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__article {
  width: 445px;
}

.news__text {
  color: #282828;
}

.news__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 540px;
}

.reservation {
  background-color: #282828;
  padding: 129px 0 100px 0;
}

.reservation__box {
  border: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer {
  background-color: #998431;
  padding: 50px 0;
}

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 19px 70px 20px 70px;
}

.footer__link {
  text-decoration: none;
}

.footer__contacts-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__contacts-item {
  text-transform: uppercase;
  border-right: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 57px 12px 57px;
  text-align: center;
}

.footer__contacts-item:last-child {
  border-right: 0;
}

.footer__social {
  width: 146px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-item {
  margin-top: -3px;
}
/*# sourceMappingURL=style.css.map */