* {
    padding: 0;
    margin: 0;
}

$background-color: #282828;
$background-color-light: #E6E3C4;
$footer-color: #998431;
$text-color: #FFFFFF;
$h-font: Playfair Display;
$t-font: Montserrat;

h2 {
    font-family: $h-font;
    font-weight: 600;
    color: $text-color;
}

p {
    font-family: $t-font;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    line-height: 150%;
    color: $text-color;
}

hr {
    height: 1px;
    border: 0;
    background-color: $text-color;
}

.small-text{
    font-size: 14px;
}

.big-text {
    font-size: 16px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.welcome {
    height: 900px;
    background: url(img/bottles.jpg);
    background-repeat: no-repeat;
    &__flex {
        height: 100%;
        display: flex;
        align-items: flex-end; 
        justify-content: center;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        width: 400px;
        padding-bottom: 150px;
    }
    &__buttons {
        display: inline-block;
        text-decoration: none;
        padding: 15px 30px;
        background-color: $footer-color;
        font-family: $t-font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $text-color;
    }
}

.quote {
    background-color: $background-color;
    padding: 100px 0;
    &__box {
        border: 1px solid $text-color;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__header{
        max-width: 736px;
        text-align: center;
        display: inline-block;
        padding: 60px 0 40px 0;
        font-size: 36px;
    }
    
    &__text {
        max-width: 733px;
        text-align: center;
        padding: 40px 0 50px 0;
        font-size: 16px;
        line-height: 24px;
    }
    &__img {
        padding-bottom: 60px;
    }
}

.news {
    background-color: $background-color-light;
    &__box {
        padding: 80px 0;
    }
    &__line-top {
        margin-bottom: 60px;
        height: 1px;
        border: 0;
        background-color: $footer-color;
    }
    &__line-bottom  {
        margin-top: 60px;
        height: 1px;
        border: 0;
        background-color: $footer-color;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
    }
    &__article {
        width: 445px;
    }
    &__text {
        color: $background-color;
    }
    &__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 540px;
    }
}

.reservation {
    background-color: $background-color;
    padding: 129px 0 100px 0;
    &__box {
        border: 3px solid $text-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__img-left {
        position: absolute;
        top: -70px;
        left: -35px;
    }
    &__img-right {
        position: absolute;
        top: -70px;
        right: -50px;
    }
    &__header {
        position: absolute;
        top: -30px;
        width: 490px;
        background-color: $background-color;
        text-align: center;
    }
    &__header-style {
        font-size: 36px;
    }
    &__line {
        width: 118px;
        background-color: $text-color;
        margin-top: 65px;
    }
    &__text {
        width: 539px;
        padding: 40px 0 80px 0;
    }
    &__container {
        width: 539px;
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    &__input {
        background-color: $background-color;
        width: 255px;
        height: 40px;
        border: 0;
        box-shadow: none;
        border-bottom: 1px solid $text-color;
        font-family: $t-font;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        color: $text-color;
    }
    &__input::placeholder {
        font-size: 13px;
        color: $text-color;
    }
    &__button {
        text-transform: uppercase;
        padding: 15px 0;
        background-color: $background-color;
        border: 1px solid $text-color;
        box-sizing: border-box;
        box-shadow: none;
    }
}

.footer {
    background-color: $footer-color;
    padding: 50px 0;
    &__box {

    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 19px 70px 20px 70px;
    }
    &__link {
        text-decoration: none;
    }
    &__contacts {

    }
    &__contacts-list {
        list-style: none;
        display: flex;
        justify-content: center
    }
    &__contacts-item {
        text-transform: uppercase;
        border-right: 1px solid $text-color;
        box-sizing: border-box;
        padding: 19px 57px 12px 57px;
        text-align: center;
    }
    &__contacts-item:last-child {
        border-right: 0;
    }
    &__social {
        width: 146px;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__social-item {
        margin-top: -3px;
    }
}
